::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: rgba(1, 1, 1, 0);
}
::-webkit-scrollbar-thumb {
  background: rgba(134, 15, 15, 0.397);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(1, 1, 1, 0.425);
}

.diplayFlex {
  display: flex;
}

body {
  --mdc-theme-primary: rgb(73, 42, 63);
}

.mdc-elevation--z9 {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2), 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12) !important;
}

.mdc-elevation--z5 {
  box-shadow: 1px 5px 13px 1px rgba(0, 0, 0, 0.13) !important;
}

.flext-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdc-card {
  overflow: hidden;
  border-radius: 12px;
}

.mdc-textfiled-fullwidth {
  width: 100%;
}
.mdc-card-div-visible {
  display: block !important;
}
.mdc-card-div-invisible {
  display: none !important;
}

.ml-10 {
  margin-left: 10px;
}

.non-selectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.unhover:hover,
:active,
:focus {
  text-decoration: none !important;
  outline: none !important;
}

.br-50 {
  border-radius: 50px !important;
}

.no-shadow {
  box-shadow: none !important;
}

.covei-1 {
  margin-left: -2px !important;
  margin-top: -2px !important;

  padding: 2px !important;
}

#scene {
  width: 100% !important;
  height: 100% !important;

  left: 0px !important;
  top: 0px !important;
}

.mdc-select {
  width: 100% !important;
}

.fit-card {
  overflow-x: hidden !important;
  border-radius: 10px !important;
  width: fit-content !important;
  min-width: 350px !important;
  max-width: unset !important;
  max-height: unset !important;
  height: max-content !important;
  padding: 25px !important;
}

.search-field-min {
  border-radius: 13px;
  background-color: rgba(250, 250, 250, 0.986);
}

.plot-covei {
  height: 100% !important;
  overflow: hidden;
}

.plot-covei .MuiBox-root {
  padding: 0px;
}

.plot-cove-comments-rating-title {
  transform: scale(0.75);
  margin-top: 0%;
  position: fixed;
  right: 0.5%;
}

.plot-cove-comments-title {
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.covei-badge-button {
  border-radius: 6px !important;
  padding: 0px !important;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  text-align: center;
}

.ptrb-5 {
  padding-right: 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.MuiChip-icon {
  margin-left: 0px !important;
}

.card-covei {
  width: 100%;
  padding: 0px;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 1px 5px 13px 1px rgba(0, 0, 0, 0.082) !important;
  background-color: white;
}

.unset-max-width {
  max-width: unset !important;
}

.hide_transition {
  opacity: 0;
  animation: hide_element 0.2s;
  animation-fill-mode: both;
}

.show_transition {
  opacity: 0;
  animation: show_element 0.4s;
  animation-fill-mode: both;
}

@keyframes show_element {
  /* You could think of as "step 1" */
  0% {
    opacity: 0;
  }
  /* You could think of as "step 2" */
  100% {
    opacity: 1;
  }
}

@keyframes hide_element {
  /* You could think of as "step 1" */
  0% {
    opacity: 1;
  }
  /* You could think of as "step 2" */
  100% {
    opacity: 0;
  }
}

.top-search-field-card {
  border-radius: 10px;
  background-color: rgba(236, 236, 236, 0.979);
}

.mm-data-covei-field {
  margin: 5px;
  margin-top: 5px;
  margin-left: 15px;
  padding: 5px;
}

.mm-data-covei-field .current {
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  border-radius: 15px;
  color: rgba(255, 255, 255, 1);
  font-weight: 900 !important;
}

.mm-data-covei-field .max {
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  border-radius: 15px;
  color: rgba(255, 255, 255, 1);
  font-weight: 900 !important;
}
.mm-data-covei-field .min {
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  border-radius: 15px;
  color: rgba(255, 255, 255, 1);
  font-weight: 900 !important;
}

.content {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}

.footer-root {
  margin-top: 50px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  flex-direction: column;
}

.footer-content {
  width: 100%;
  padding: 5px;
  margin-top: auto;
  background-color: white;
}

.footer-button-text {
  font-size: 0.8rem !important;
}

.main-search-element {
  width: 98vw;
  max-width: 600px;
  margin-top: 25vh;
}

.app-tracker-main-svg {
  min-width: 250px;
  width: 50%;
  padding: 15px;
}

.main-search-input-div {
  padding: 4px 4px;
  border-radius: 28px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
}

.main-search-input-field {
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-search-button-icon {
  color: #9900ff !important;
}

.main-search-paper {
  border-radius: none !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
}

.ml-8px {
  margin-left: 8px !important;
}

.flex-1 {
  flex: auto;
}

.mt-100px {
  margin-top: 100px !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.search-result-list {
  border-radius: 50px !important;
  margin-left: 5px !important;
  padding-left: 9px !important;
  width: auto !important;
}

.search-result-list img {
  height: 40px !important;
  width: 40px !important;
  border-radius: 100% !important;
}
.search-result-list .title {
  margin-left: 15px !important;
}
.search-result-list .stars {
}

.search-stars-color {
  color: #606060 !important;
}

.p-10px {
  padding: 10px !important;
}

.ml-auto {
  margin-left: auto !important;
}

.f-end {
  justify-content: flex-end !important;
}

.f-start {
  justify-content: flex-start !important;
}

.no-padding {
  padding: 0px !important;
}

.no-wrap-text {
  max-width: 320px;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
}

.progress-full {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100vh;
}

.mb-100px {
  margin-bottom: 100px !important;
}

.ApplicationView {
  margin-top: 20px;
  width: 85vw;
  max-width: 900px;
}
